{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h2>Scouting Form 2018 Power Up!</h2>
  </div>
</div>
<form method="post" id="scouting-form" autocomplete="off">
  {{ form.csrf_token }}
  <img src="static/custom/known.png" align = "left" id="logo" class></img>
  <img src="static/custom/Jerry.gif" align = "middle" id="logo" class></img>
  <img src="static/custom/known.png" align = "middle" id="logo" class></img>
  <div class="col-md-8 col-xs-8 text-right">
    {{ form.match_id }}
    {{ form.team_id }}
  </div>
  <div class="row">
    <div class="col-md-6">
      {% if conf.get('station', 'none').lower() == 'none' %}
        <div id="alert" class="alert alert-warning">No player station selected; team ID completion is not available.
        See {{link_to('config_form', 'Settings')}} to choose a station.</div>
      {% else %}
        <div><label>Player Station: {{conf.get('station', '?')}}</label></div>
        <div><label>Match name: {{conf.get('match_name', '?')}}</label></div>
        <div id="alert" class="alert" style="display: none;"></div>
      {% endif %}
    </div>
  </div>
  <div class="game-period">
    <h3>Auton</h3>
    <div class="row">
      <div class="col-md-6 col-xs-12">
      </div>
    </div>
    <div class="row form-group">
      {{ form.autoncube_count }}
    </div>
    <div class="row">
      {{ form.cross_line }}
      {{ form.ci_switch }}
      {{ form.ci_scale }}
  </div>
  <div class="game-period">
    <h3>Teleop</h3>
    
    <div class="row form-group">
      {{ form.cube_count }}
    </
    </div>
    <div class="row">
    </div>
     <div class="row">
      {{ form.cube_switch }}
     </div>
    <div class="row">
      {{ form.cube_scale }}
      {{ form.fouls }}
    </div>
    <div class="row">
      {{ form.cube_vault }}
       {{ form.tech_fouls }}
    </div>
    <br>
    <br>
    <div class="row">
    </div>
    <div class="row form-group">
    </div>
    <div class="row">
      <div class="col-md-10 col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-xs-12">
      </div>
    </div>
  </div>
  <div class="game-period">
    <h3>End Game</h3>
  </div>
  <div class="row">
    {{ form.endgame_action }}
  </div>
   <div class="row">
   {{ form.helping_robot}}
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <h3>Comments</h3>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-8 col-xs-12">
      {{ form.comments(rows='5') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><input type="submit" class="btn btn-primary" value="Save"></div>
  </div>
  <script>
      $('#comments').keyup(function(){
    	if ($('#comments').val().toLowerCase().indexOf("rainbow") != -1) {
    		$('.content').css('background','linear-gradient(to bottom, rgba(255,44,40,1) 0%,rgba(255,128,0,1) 17%,rgba(255,246,0,1) 34%,rgba(0,170,0,1) 50%,rgba(0,219,201,1) 66%,rgba(43,0,216,1) 83%,rgba(165,46,121,1) 100%)');
    	}
    	else {
    		$('.content').css('background','white');
    	}
    })
      console.log("hi");
  </script>
</form>
{% endblock %}
